.main {
    display: grid;
    grid-template: "header  " auto
                    ".      " 144px
                    "hero   " auto
                    ".      " 24px
                    "manager" auto;
}

.header {
    grid-area: header;
}

.hero {
    grid-area: hero;
    padding: 0 24px;
}

.uploader,
.downloader,
.loader {
    grid-area: manager;
}

.controls {
    margin-top: 48px;
}

footer {
    margin-top: 192px;
}
@media screen and (max-width: 767px) {
    footer { margin-top: 174px; }
}
