.main {
    display: grid;
    grid-template: "header   " auto
                    ".       " 144px
                    "hero    "  auto
                    "downloader" auto
                    "uploader" auto
                    ".       " 48px
                    "buttons " auto
                    ".       " 240px;
}

.header {
    grid-area: header;
}

.hero {
    grid-area: hero;
    padding: 0 24px;
}

.uploader {
    grid-area: uploader;
}

.downloader {
    grid-area: downloader;
}

.loader {
    grid-area: uploader;
}

.buttons {
    grid-area: buttons;
}